.main {
  color: #181818;
}

.about__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.about__resume {
  width: 70%;
  min-width: 320px;
  position: relative;
  padding: 0 20px;
}

.about__timers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about__timers span {
  font-family: "Times New Roman", serif;
}

.about__resume_timer-it,
.about__resume_timer-web {
  width: 300px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  margin: 20px auto;
}

.about__resume-title {
  text-align: center;
}

.about__picture {
  padding-top: 50px;
  width: 30%;
  min-width: 320px;
}

.about__picture img {
  max-width: 100%;
  object-fit: cover;
}


.about__scills {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  perspective: 5000px;
  transform-style: preserve-3d;
}

.about__scills * {
  transform-style: inherit;
}

.about__scills-item {
  position: relative;
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 50%;
  font-family: "Times New Roman", serif;
  line-height: 75px;
  color: #181818;
  text-align: center;
  background: red;
  transform-origin: center;
  transition: .6s all linear;
}

.animate2 {
  animation: rotateS 3s ease-in-out forwards;
}

@keyframes rotateS {
  from {
    transform: translateY(0) rotateY(0) rotateX(0) rotateZ(0);
  }
  40% {
    transform: translateY(15px) rotateY(720deg) rotateX(80deg) rotateZ(360deg);
  }
  60% {
    transform: translateY(15px) rotateY(720deg) rotateX(80deg) rotateZ(360deg);
  }
  to {
    transform: translateY(0) rotateY(0) rotateX(0) rotateZ(0);
  }
}

.animate {
  animation: rotate 2s ease-out forwards;
}

@keyframes rotate {
  from {
    left: -100vw;
    transform: rotateZ(-720deg);
  }
  to {
    left: 0;
    transform: rotateZ(0);
  }
}

.about__scills-item div:not(.about__scills_up) {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: red;
}

.about__scills-item div:not(.about__scills_up)::before,
.about__scills-item div:not(.about__scills_up)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about__scills-item div:not(.about__scills_up)::after {
  content: '$';
  color: #D4AF37;
  transform-origin: center;
  transform: rotateY(180deg) rotateZ(90deg);
  font-size: 50px;
  text-align: center;
  line-height: 75px;
}

.about__scills-item div:not(.about__scills_up)::before {
  background: linear-gradient(45deg, black, red) 0 0/ 2px 2px;
}

.about__scills-item div:first-child {
  background: linear-gradient(-45deg, darkred 0%, black 25%, red 75%, darkred 100%);
}

.about__scills_up {
  user-select: none;
  transform: translateZ(.3px);
  border-radius: 50%;
  color: red;
  text-shadow: black -1px -1px;
  font-size: 16px;
  font-weight: 300;
}

