/* cormorant-garamond-300 - latin_cyrillic */
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/cormorant-garamond-v7-latin_cyrillic-300.eot");
    /* IE9 Compat Modes */
    src: local("Cormorant Garamond Light"), local("CormorantGaramond-Light"), url("../fonts/cormorant-garamond-v7-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant-garamond-v7-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/cormorant-garamond-v7-latin_cyrillic-300.woff") format("woff"), url("../fonts/cormorant-garamond-v7-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/cormorant-garamond-v7-latin_cyrillic-300.svg#CormorantGaramond") format("svg");
    /* Legacy iOS */
}

/* cormorant-garamond-regular - latin_cyrillic */
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/cormorant-garamond-v7-latin_cyrillic-regular.eot");
    /* IE9 Compat Modes */
    src: local("Cormorant Garamond Regular"), local("CormorantGaramond-Regular"), url("../fonts/cormorant-garamond-v7-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant-garamond-v7-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/cormorant-garamond-v7-latin_cyrillic-regular.woff") format("woff"), url("../fonts/cormorant-garamond-v7-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/cormorant-garamond-v7-latin_cyrillic-regular.svg#CormorantGaramond") format("svg");
    /* Legacy iOS */
}

/* cormorant-garamond-700 - latin_cyrillic */
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/cormorant-garamond-v7-latin_cyrillic-700.eot");
    /* IE9 Compat Modes */
    src: local("Cormorant Garamond Bold"), local("CormorantGaramond-Bold"), url("../fonts/cormorant-garamond-v7-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant-garamond-v7-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/cormorant-garamond-v7-latin_cyrillic-700.woff") format("woff"), url("../fonts/cormorant-garamond-v7-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/cormorant-garamond-v7-latin_cyrillic-700.svg#CormorantGaramond") format("svg");
    /* Legacy iOS */
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    color: white;
    font-size: 20px;
    padding-bottom: 150px;
}

* {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
}

.header {
    background: black;
    text-align: center;
    font-weight: 300;
    padding: 20px 0;
}

.header__intro {
    padding-bottom: 20px;
}

.header__intro-title {
    font-weight: 300;
    letter-spacing: 25px;
    margin: 4px 0;
}

.header__intro-description {
    width: 0;
    height: 30px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-top: 1px solid red;
    line-height: 50px;
    -webkit-animation: line .6s linear .6s forwards;
    animation: line .6s linear .6s forwards;
}

@-webkit-keyframes line {
    from {
        width: 0;
    }
    to {
        width: 500px;
    }
}

@keyframes line {
    from {
        width: 0;
    }
    to {
        width: 500px;
    }
}

.header__intro-description span {
    display: block;
    position: relative;
    top: -100%;
    opacity: 0;
    width: 100%;
    height: 100%;
    line-height: 30px;
    letter-spacing: 5px;
    -webkit-animation: intro .6s forwards linear 1.2s;
    animation: intro .6s forwards linear 1.2s;
}

@-webkit-keyframes intro {
    from {
        top: -100%;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes intro {
    from {
        top: -100%;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.header__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
}

.heder__nav-item {
    position: relative;
}

.header__nav-bone {
    position: absolute;
    top: 0;
    right: 100%;
    width: 30px;
    height: 30px;
    -webkit-perspective: 100px;
    perspective: 100px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bone {
    position: relative;
    -webkit-animation: bone 5s linear infinite;
    animation: bone 5s linear infinite;
    -webkit-transform-style: inherit;
    transform-style: inherit;
}

@-webkit-keyframes bone {
    from {
        -webkit-transform: rotate3d(1, 1, 1, 45deg);
        transform: rotate3d(1, 1, 1, 45deg);
    }
    25% {
        -webkit-transform: rotate3d(0, 1, 1, 360deg);
        transform: rotate3d(0, 1, 1, 360deg);
    }
    50% {
        -webkit-transform: rotate3d(1, 1, 0, 135deg);
        transform: rotate3d(1, 1, 0, 135deg);
    }
    75% {
        -webkit-transform: rotate3d(0, 1, 1, 280deg);
        transform: rotate3d(0, 1, 1, 280deg);
    }
    to {
        -webkit-transform: rotate3d(1, 1, 1, 45deg);
        transform: rotate3d(1, 1, 1, 45deg);
    }
}

@keyframes bone {
    from {
        -webkit-transform: rotate3d(1, 1, 1, 45deg);
        transform: rotate3d(1, 1, 1, 45deg);
    }
    25% {
        -webkit-transform: rotate3d(0, 1, 1, 360deg);
        transform: rotate3d(0, 1, 1, 360deg);
    }
    50% {
        -webkit-transform: rotate3d(1, 1, 0, 135deg);
        transform: rotate3d(1, 1, 0, 135deg);
    }
    75% {
        -webkit-transform: rotate3d(0, 1, 1, 280deg);
        transform: rotate3d(0, 1, 1, 280deg);
    }
    to {
        -webkit-transform: rotate3d(1, 1, 1, 45deg);
        transform: rotate3d(1, 1, 1, 45deg);
    }
}

.bone-face {
    -webkit-transform-style: inherit;
    transform-style: inherit;
    position: absolute;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    background: red;
    opacity: .5;
}

.bone-face:nth-child(1) {
    -webkit-transform: rotateX(90deg) translateZ(5px);
    transform: rotateX(90deg) translateZ(5px);
    opacity: 1;
}

.bone-face:nth-child(2) {
    -webkit-transform: rotateY(90deg) translateZ(5px);
    transform: rotateY(90deg) translateZ(5px);
    opacity: .8;
}

.bone-face:nth-child(3) {
    -webkit-transform: rotateX(90deg) translateZ(-5px);
    transform: rotateX(90deg) translateZ(-5px);
    background: black;
    opacity: .7;
}

.bone-face:nth-child(4) {
    -webkit-transform: rotateY(90deg) translateZ(-5px);
    transform: rotateY(90deg) translateZ(-5px);
    opacity: .6;
}

.bone-face:nth-child(5) {
    -webkit-transform: translateZ(-5px);
    transform: translateZ(-5px);
    background: white;
    opacity: .5;
}

.bone-face:nth-child(6) {
    -webkit-transform: translateZ(5px);
    transform: translateZ(5px);
    opacity: 1;
    -webkit-animation: spark 5s linear infinite;
    animation: spark 5s linear infinite;
    background: -o-linear-gradient(left, red 3px, white 5px, red 5px) 0 0/500% 500%;
    background: linear-gradient(to right, red 3px, white 5px, red 5px) 0 0/500% 500%;
}

@-webkit-keyframes spark {
    from {
        background-position: -50px 50px;
    }
    to {
        background-position: 50px -50px;
    }
}

@keyframes spark {
    from {
        background-position: -50px 50px;
    }
    to {
        background-position: 50px -50px;
    }
}

.button {
    background: black;
    text-align: center;
    -webkit-box-shadow: 2px 2px 12px grey;
    box-shadow: 2px 2px 12px grey;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: grey;
    -webkit-transition: .1s all linear;
    -o-transition: .1s all linear;
    transition: .1s all linear;
}

.button:hover {
    color: white;
    -webkit-box-shadow: 2px 2px 12px white;
    box-shadow: 2px 2px 12px white;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 150px;
    background: black;
    color: grey;
    font-weight: 300;
}

.footer-content {
    min-height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px 50px;
}

.footer__section {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__section::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    background: red;
    height: 60%;
}

.footer__section:last-child::after {
    content: none;
}

.footer__section-title {
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 5px 0;
}

.footer__section-link {
    font-size: 16px;
    -webkit-transition: .1s linear all;
    -o-transition: .1s linear all;
    transition: .1s linear all;
    margin-bottom: 2px;
}

.footer__section-link:hover {
    color: white;
}

.hide {
    display: none;
}
