/* cormorant-garamond-300 - latin_cyrillic */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/cormorant-garamond-v7-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local('Cormorant Garamond Light'), local('CormorantGaramond-Light'),
  url('../fonts/cormorant-garamond-v7-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/cormorant-garamond-v7-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/cormorant-garamond-v7-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/cormorant-garamond-v7-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/cormorant-garamond-v7-latin_cyrillic-300.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
}

/* cormorant-garamond-regular - latin_cyrillic */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cormorant-garamond-v7-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Cormorant Garamond Regular'), local('CormorantGaramond-Regular'),
  url('../fonts/cormorant-garamond-v7-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/cormorant-garamond-v7-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/cormorant-garamond-v7-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/cormorant-garamond-v7-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/cormorant-garamond-v7-latin_cyrillic-regular.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
}

/* cormorant-garamond-700 - latin_cyrillic */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/cormorant-garamond-v7-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Cormorant Garamond Bold'), local('CormorantGaramond-Bold'),
  url('../fonts/cormorant-garamond-v7-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/cormorant-garamond-v7-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/cormorant-garamond-v7-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/cormorant-garamond-v7-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/cormorant-garamond-v7-latin_cyrillic-700.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
}

//-------------------------------------styles start-------------------------------------------------------------------//

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
  color: white;
  font-size: 20px;
}

body.active {
  overflow: hidden;
}

* {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
  overflow: hidden;
}

.wrapper_full {
  max-width: 100vw;
  margin: 0 auto;
  height: 100%;
}

.maitres,
.maitres2 {
  position: absolute;
}

.maitres {
  position: absolute;
  left: 0;
  top: -32px;
  width: 25px;
  height: 45px;
  background: url("../img/maitres1.png") no-repeat 0 0/cover;
}

.maitres2 {
  right: 0;
  top: -27px;
  width: 38px;
  height: 40px;
  background: url("../img/maitres2.png") no-repeat 0 0/cover;
}


//-------------------------------------header styles------------------------------------------------------------------//

.header {
  position: relative;
  background: black;
  text-align: center;
  font-weight: 300;
  padding: 20px 0;
}

.header__content {
  position: relative;
}

.header__intro {
  padding-bottom: 20px;
}

.header__intro-title {
  font-size: 44px;
  font-weight: 300;
  letter-spacing: 25px;
  margin: 4px 0;
}

.header__intro-description {
  font-size: 20px;
  width: 0;
  height: 30px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-top: 1px solid red;
  line-height: 50px;
  animation: line .6s linear .6s forwards;
}

@keyframes line {
  from {
    width: 0;
  }
  to {
    width: 500px;
  }
}

.header__intro-description span {
  display: block;
  position: relative;
  top: -100%;
  opacity: 0;
  width: 100%;
  height: 100%;
  line-height: 30px;
  letter-spacing: 5px;
  animation: intro .6s forwards linear 1.2s;
}

@keyframes intro {
  from {
    top: -100%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.heder__nav-item {
  font-size: 20px;
  position: relative;
  margin-left: 30px;
}

.header__nav-bone {
  position: absolute;
  top: 0;
  right: 100%;
  width: 30px;
  height: 30px;
  perspective: 100px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bone {
  position: relative;
  animation: bone 5s linear infinite;
  transform-style: inherit;
}

@keyframes bone {
  from {
    transform: rotate3d(1, 1, 1, 45deg);
  }
  25% {
    transform: rotate3d(0, 1, 1, 360deg);
  }
  50% {
    transform: rotate3d(1, 1, 0, 135deg);
  }
  75% {
    transform: rotate3d(0, 1, 1, 280deg);
  }
  to {
    transform: rotate3d(1, 1, 1, 45deg);
  }
}

.bone-face {
  transform-style: inherit;
  position: absolute;
  transform-origin: center;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background: red;
  opacity: .5;
}

.bone-face:nth-child(1) {
  transform: rotateX(90deg) translateZ(5px);
  opacity: 1;
}

.bone-face:nth-child(2) {
  transform: rotateY(90deg) translateZ(5px);
  opacity: .8;
}

.bone-face:nth-child(3) {
  transform: rotateX(90deg) translateZ(-5px);
  background: black;
  opacity: .7;
}

.bone-face:nth-child(4) {
  transform: rotateY(90deg) translateZ(-5px);
  opacity: .6;
}

.bone-face:nth-child(5) {
  transform: translateZ(-5px);
  background: white;
  opacity: .5;
}

.bone-face:nth-child(6) {
  transform: translateZ(5px);
  opacity: 1;
  animation: spark 5s linear infinite;
  background: linear-gradient(to right, red 3px, white 5px, red 5px) 0 0/500% 500%;
}

@keyframes spark {
  from {
    background-position: -50px 50px;
  }
  to {
    background-position: 50px -50px;
  }
}

.button {
  font-size: 20px;
  background: black;
  text-align: center;
  box-shadow: 2px 2px 12px grey;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  user-select: none;
  color: grey;
  transition: .1s all linear;
}

.button:hover {
  color: white;
  box-shadow: 2px 2px 12px white;
}

.mobile-menu {
  display: none;
}

//-------------------------------------footer styles------------------------------------------------------------------//

.footer {
  width: 100%;
  margin-top: auto;
  min-height: 150px;
  background: black;
  color: grey;
  font-weight: 300;
}

.footer-content {
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px 50px;
}

.footer__section {
  position: relative;
  flex-grow: 1;
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer__section::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  background: red;
  height: 60%;
}

.footer__section:last-child::after {
  content: none;
}

.footer__section-title {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 5px 0;
}

.footer__section-link {
  font-size: 16px;
  transition: .1s linear all;
  margin-bottom: 2px;
}

.footer__section-link:hover {
  color: white;
}

//-------------------------------------media 1000px-------------------------------------------------------------------//

@media screen and (max-width: 1000px) {
  .header__intro-title {
    font-size: 32px;
    letter-spacing: 16px;
  }
  .header__intro-description span {
    font-size: 15px;
    letter-spacing: 3px;
  }

  @keyframes line {
    from {
      width: 0;
    }
    to {
      width: 350px;
    }
  }

  .button {
    font-size: 13px;
  }

  .footer__section {
    width: 50%;
  }

  .footer__section:nth-child(2)::after {
    content: none;
  }
}

//-------------------------------------media 767px-------------------------------------------------------------------//

@media screen and (max-width: 767px) {

  .header__intro {
    padding-bottom: 0;
  }

  .header__intro-title {
    font-size: 24px;
    letter-spacing: 7px;
  }
  .header__intro-description span {
    font-size: 12px;
    letter-spacing: 2px;
  }

  @keyframes line {
    from {
      width: 0;
    }
    to {
      width: 250px;
    }
  }

  .header__nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    right: 25px;
    flex-direction: column;
    justify-content: space-around;
    background: black;
    padding: 0 20px;
    z-index: 10;
    display: flex;
    transform: scale(0);
    transition: .2s all ease-out;
  }

  .header__nav.active {
    transform: scale(1);
    top: 0;
    right: 0;
  }

  .button {
    font-size: 15px;
    margin-right: 30px;
  }

  .mobile-menu {
    position: absolute;
    z-index: 20;
    width: 45px;
    height: 45px;
    bottom: 5px;
    right: 5px;
    box-shadow: inset red 0 2px 5px;
    border-radius: 50%;
    border: 4px black solid;
    transform: rotateZ(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    letter-spacing: 1px;
    transition: .2s linear all;
    content: 'МЕНЮ';
  }

  .mobile-menu.active {
    bottom: 50px;
    transform: rotateZ(0);
    content: 'закрыть';
  }

  .footer-content {
    padding: 5px;
  }

  .footer__section {
    width: 50%;
  }

  .footer__section:nth-child(2)::after {
    content: none;
  }

  .footer__section-title {
    font-size: 16px;
  }

  .footer__section-link {
    font-size: 14px;
    line-height: 40px;
    margin-bottom: 0;
  }
}

//-------------------------------------hides--------------------------------------------------------------------------//

.hide {
  display: none;
}