.order__nav {
  position: relative;
  background: #181818;
}

.order__nav-items {
  min-height: 80vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: .4s linear;
}

.order__nav-items.active {
  min-height: 700px;
}

.order__nav-item,
.order__form input[type = 'submit'] {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 20px;
  line-height: 50px;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 10px;
  box-shadow: black 0 0 5px;
  background: red;
  cursor: pointer;
  color: #181818;
  transition: .4s linear;
  transform-origin: 25px 25px;
}

.order__nav-item:hover,
.order__form input[type = 'submit']:hover {
  box-shadow: white 0 0 5px;
  color: white;
}


.order__list {
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background: white;
  transition: .4s ease-out;
  text-align: center;
  color: #181818;
  overflow-y: auto;
}

.order__list input {
  margin: 10px;
  border: none;
  border-bottom: 1px #181818 solid;
}

.order__list input[type = 'number'] {
  width: 50px;
  text-align: center;
}

.order__list input[type = 'number']::placeholder {
  color: lightgrey;
}

.order__list span,
.order__list sup {
  color: red;
}

.order__list.active {
  right: 0;
}

.order__close-item {
  position: absolute;
  top: 12.5px;
  right: 12.5px;
  height: 25px;
  width: 25px;
  transform-origin: center;
  cursor: pointer;
  transition: .2s linear;
}

.order__close-item:hover {
  transform: rotateZ(90deg);
}

.order__close-item::before,
.order__close-item::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #181818;
  transform-origin: center;
  transform: rotateZ(45deg);
}

.order__close-item::after {
  transform: rotateZ(-45deg);
}

.order__list-title {
  color: #181818;
  letter-spacing: 1px;
}

.order__form,
.order__form fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.order__form fieldset {
  margin: 10px 10px 40px;
  width: 350px;
  border: double;
}

.order__form-wishes {
  border: double;
  min-width: 350px;
  min-height: 150px;
  height: auto;
  padding: 10px;
}

input:active,
input:focus,
.order__form-wishes:active,
.order__form-wishes:focus {
  outline: none;
}
