.main {
  background: #181818;
}

.portfolio__nav {
  padding-top: 40px;
  text-align: center;
}

.porfolio__nav-links {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.porfolio__nav-link {
  font-family: "Times New Roman", serif;
  width: 50px;
  height: 50px;
  margin: 10px;
  line-height: 50px;
  box-shadow: inset 0 0 10px black;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s all ease-out;
}

.porfolio__nav-link:hover {
  box-shadow: 0 0 10px black;
}

.porfolio__nav-link.active,
.porfolio__nav-link.active:hover, {
  background: red;
  box-shadow: inset 0 0 10px black;
}

.potfolio__site-link,
.potfolio__site-arrow {
  color: lighten(#232323, 10%);
  margin-left: 20px;
  transition: .2s all ease-out;
}

.portfolio__site-info {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: lighten(#232323, 10%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px black solid;
  transition: .2s all ease-out;
}

.potfolio__site-link.active,
.portfolio__site-info.active {
  color: white;
  border-color: white;
}

.potfolio__site-link.active:hover {
  letter-spacing: 1px;
}

.portfolio__site-info_description {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 0;
  padding: 0;
  box-shadow: white inset 0 0 25px;
  border-radius: 10px;
  transition: .2s all ease-out;
  opacity: 0;
  font-size: 0;
  background: #232323;
  z-index: 5;
}

.portfolio__site-info.active:hover .portfolio__site-info_description {
  height: auto;
  min-height: 50px;
  opacity: 1;
  padding: 10px;
  font-size: inherit;
}

.portfolio__site-info_description::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%) rotateZ(-135deg);
  width: 20px;
  height: 20px;
  background: linear-gradient(-45deg, white, transparent 50%);

}

.portfolio__scene {
  position: relative;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.portfolio__close-item {
  position: absolute;
  top: 5%;
  left: calc(50% + 275px);
  height: 25px;
  width: 0;
  transform-origin: center;
  cursor: pointer;
  transition: .2s linear;
}

.portfolio__close-item:hover {
  transform: rotateZ(90deg);
}

.scene__deck.active ~ .portfolio__close-item {
  width: 25px;
}

.portfolio__close-item::before,
.portfolio__close-item::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  transform-origin: center;
  transform: rotateZ(45deg);
}

.portfolio__close-item::after {
  transform: rotateZ(-45deg);
}

.portfolio__scene * {
  transform-style: inherit;
}

.scene__deck {
  position: absolute;
  transform: translateZ(-500px);
  height: 0;
  width: 0;
  left: 50%;
  top: 50%;
  transition: .6s all ease-out;
  animation: rotate-deck 15s linear infinite;
}

.scene__deck.active {
  animation: none;
}

@keyframes rotate-deck {
  from {
    transform: translateZ(-500px) rotateY(0);
  }
  to {
    transform: translateZ(-500px) rotateY(360deg);
  }
}

.portfolio__item {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: translateY(-50%) translateX(-50%);
  width: 500px;
  max-width: 80vw;
  height: 80vh;
  transition: .4s .6s all ease-out;
  background: silver;
}

.portfolio__item.active {
  width: 600px;
  max-width: 90vw;
}

.portfolio__item-pic {
  max-width: 100%;
  height: auto;
}

.portfolio__item:nth-child(1) {
  transform: translateY(-50%) translateX(-50%) translateZ(500px);
}

.portfolio__item:nth-child(2) {
  transform: translateY(-50%) translateX(-50%) rotateY(calc(360deg / 5)) translateZ(500px);
}

.portfolio__item:nth-child(3) {
  transform: translateY(-50%) translateX(-50%) rotateY(calc(360deg / 5 * 2)) translateZ(500px);
}

.portfolio__item:nth-child(4) {
  transform: translateY(-50%) translateX(-50%) rotateY(calc(360deg / 5 * 3)) translateZ(500px);
}

.portfolio__item:nth-child(5) {
  transform: translateY(-50%) translateX(-50%) rotateY(calc(360deg / 5 * 4)) translateZ(500px);
}

//-------------------------------------media 767px-------------------------------------------------------------------//

@media screen and (max-width: 767px) {
  .portfolio__close-item {
    left: 90%;
  }
}
